<div class='panel panel-default'>
    <div class="panel-heading">        
        <span>Bay Extender Specification</span>
        <div class="btnRESTORE_SEARCH btn btn-success" style="display: none; float: right; margin-top: -9px"><i class="fa fa-search"></i></div>
    </div>
    <div class="panel-body">
        <form data-bind="submit: $data.SaveBayExtender" name="savebayextndrnameForm">
            <div class="container">
                <div class="row" align="left" style="padding-bottom:15px;padding-bottom:10px">
                    <button type="button" id="backToMtlButton" class="btn btn-success" data-bind="click: $data.navigateToMaterial, visible: enableBackButton">&laquo; Back</button>
                </div>
                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-2">
                        <label>Generic:</label>
                        <input type="checkbox" name="gnrcIndbayextd" id="gnrcIndbayextd" data-bind="checked:$data.selectedBayExtenderSpec().Gnrc.bool,enable:$data.selectedBayExtenderSpec().Gnrc.enable,event: { change: onchangebayGeneric }" />
                    </div>
                    <div class="col-sm-2">
                        <label>Record Only:</label>
                        <input type="checkbox" id="rcrdlyBayextd" name="rcrdolyBayextd" data-bind="checked: $data.selectedBayExtenderSpec().RO.bool, enable:$data.selectedBayExtenderSpec().RO.enable" />
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success" id="idAsscociatebayextd" data-bind="click:$root.associatepartBayExtender.bind($root,$root), visible : enableAssociate">Associate Part</button>
                    </div>
                    <div class="col-8"></div>
                </div>
                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-2">
                        <label>Completed:</label>
                        <input id="cmpIndBayextd" name="cmplindbayextd" type="checkbox" data-bind="checked: $data.selectedBayExtenderSpec().Cmplt.bool, enable: $data.selectedBayExtenderSpec().Cmplt.enable,event: { change: onchangeCompleted }" />
                    </div>
                    <div class="col-sm-2">
                        <label>Propagated:</label>
                        <input id="proptIndBayextd" name="proptIndBayextd" type="checkbox" data-bind="checked: $data.selectedBayExtenderSpec().Prpgtd.bool, enable:$data.selectedBayExtenderSpec().Prpgtd.enable, disable:completedNotSelected" />
                    </div>
                    <div class="col-sm-2">
                        <label>Unusable in NDS:</label>
                        <input id="delIndBayextd" type="checkbox" data-bind="checked: $data.selectedBayExtenderSpec().Dltd.bool" />
                    </div>
                    <div class="col-9"></div>
                </div>
                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-6">
                        <label>Specification ID:</label><font color="red">*</font>
                        <input class="form-control" id="specidbayextd" data-bind="textInput: $data.selectedBayExtenderSpec().id.value" required readonly />
                    </div>
                </div>
                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-6">
                        <label for="idbayextdspecnm">Name:</label><font color="red" style="font-size:12px;">*</font>
                        <input type="text" class="form-control" id="idbayextdspecnm" required maxlength="40" data-bind="textInput: $data.specName, enable: enableName, value: $data.specName" />
                    </div>
                    <div class="col-sm-6">
                        <label for="idspecdescbayextd">Description:</label>
                        <input type="text" class="form-control" maxlength="2000" data-bind="textInput: $data.selectedBayExtenderSpec().Desc.value" />
                    </div>
                </div>
                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-6">
                        <label>Use Type:</label>
                        <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().BayXtnUseTypId.value" disabled />
                    </div>
                </div>
                <div id="nongenericBlock" data-bind="visible: nongenericBlockview">
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Model:</label><font color="red" style="font-size:12px;">*</font>
                            <input type="text" id="modelTxt" required class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().Nm.value" />
                        </div>
                    </div>
                </div>
                <!-- ko if: $data.selectedBayExtenderSpec().BayExtndr !== undefined -->
                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-3">
                        <label>Manufacturer:</label>
                        <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().BayExtndr.list[0].Mfg.value, enable:$data.selectedBayExtenderSpec().BayExtndr.list[0].Mfg.enable" />
                    </div>
                    <div class="col-sm-3">
                        <label>Manufacturer Name:</label>
                        <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().BayExtndr.list[0].MfgNm.value, enable:$data.selectedBayExtenderSpec().BayExtndr.list[0].MfgNm.enable" />
                    </div>
                    <div class="col-sm-6">
                        <label>Part Number:</label>
                        <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().BayExtndr.list[0].PrtNo.value, enable:$data.selectedBayExtenderSpec().BayExtndr.list[0].PrtNo.enable" />
                    </div>
                  
                </div>

                <div class="row" style="padding-bottom:15px">
                    <div class="col-sm-6">
                        <label>Material Code:</label>
                        <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().BayExtndr.list[0].PrdctId.value, enable:$data.selectedBayExtenderSpec().BayExtndr.list[0].PrdctId.enable" />
                    </div>
                    <div class="col-sm-6">
                        <label>Material Description:</label>
                        <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedBayExtenderSpec().BayExtndr.list[0].ItmDesc.value, enable:$data.selectedBayExtenderSpec().BayExtndr.list[0].ItmDesc.enable" />
                    </div>
                </div>
                <!--/ko -->
                <div class="row" style="padding-top:25px;">
                    <div class="col-sm-4">
                        <div class='panel panel-default'>
                            <div class="panel-heading">Depth List&nbsp;&nbsp;<font color="red">*</font></div>
                            <div class="panel-body">
                                <table id="BayItnlDpthLstTbl" class="table table-striped table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Depth</th>
                                            <th>UOM</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:$data.selectedBayExtenderSpec().BayItnlDpthLst.list">
                                        <tr>
                                            <td><input type="checkbox" class="BayItnlDpthLstCbk" data-bind="value:$data.BayItnlDpthId.value,checked: $data.BayItnlDpthId.value == $root.selectedBayExtenderSpec().BayItnlDpthId.value ? true : false" /></td>
                                            <td><span data-bind="text: $data.BayItnlDpth.value"></span></td>
                                            <td><span data-bind="text: $data.BayItnlDpthUom.value"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="BayItnlDpthLstTblDgr" class="alert alert-danger" hidden>
                                    <strong>Please select a Depth value!</strong>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td>
                                    <label>Depth: </label>
                                    <input class="form-control" id="dpthnew" data-bind="event:{ keypress: NumDecimal}" />
                                </td>
                                <td><label>UOM:</label> <select id="depthuomnew" class="form-control" data-bind="options: $data.selectedDepth, optionsText: 'text', optionsValue: 'value'"></select></td>
                                <td style="padding-top: 20px"><button type="submit" class="btn btn-success" id="bayextddepthadd" data-bind="click: $data.Adddepth"> ADD </button></td>
                            </tr>
                        </table>
                        <div id="baydepthnew" class="alert alert-danger" hidden>
                            <strong>Please enter Depth value and UOM!</strong>
                        </div>
                        <div id="baydepthexists" class="alert alert-danger" hidden>
                            <strong>Depth value and UOM already exists!</strong>
                        </div>
                    </div>
                   
                    <div class="col-sm-4">
                        <div class='panel panel-default'>
                            <div class="panel-heading">Width List&nbsp;&nbsp;<font color="red">*</font></div>
                            <div class="panel-body">
                                <table id="BayItnlWdthLstTbl" class="table table-striped table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Width</th>
                                            <th>UOM</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:$data.selectedBayExtenderSpec().BayItnlWdthLst.list">
                                        <tr>
                                            <td><input type="checkbox" class="BayItnlWdthLstCbk" data-bind="value:$data.BayItnlWdthId.value,checked: $data.BayItnlWdthId.value == $root.selectedBayExtenderSpec().BayItnlWdthId.value ? true : false" /></td>
                                            <td><span data-bind="text: $data.BayItnlWdth.value"></span></td>
                                            <td><span data-bind="text: $data.BayItnlWdthUom.value"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="BayItnlWdthLstTblDgr" class="alert alert-danger" hidden>
                                    <strong>Please select a Width value!</strong>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td>
                                    <label>Width: </label>
                                    <input class="form-control" id="wdthnew" data-bind="event:{ keypress: NumDecimal}"/>
                                </td>
                                <td><label>UOM:</label> <select id="widthnewuom" class="form-control" data-bind="options: $data.selectedDepth, optionsText: 'text', optionsValue: 'value'"></select></td>
                                <td style="padding-top: 20px"><button type="submit" class="btn btn-success" id="bayextlwidthadd" data-bind="click: $data.Addwidth"> ADD </button></td>
                            </tr>
                        </table>
                        <div id="baywidthnew" class="alert alert-danger" hidden>
                            <strong>Please enter Width value and UOM!</strong>
                        </div>
                        <div id="baywidthexists" class="alert alert-danger" hidden>
                            <strong>Width value and UOM already exists!</strong>
                        </div>
                        </div>
                       
                   
                    <div class="col-sm-4">
                        <div class='panel panel-default'>
                            <div class="panel-heading">Height List&nbsp;&nbsp;<font color="red">*</font></div>
                            <div class="panel-body">
                                <table id="BayItnlHgtLstTbl" class="table table-striped table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Height</th>
                                            <th>UOM</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:$data.selectedBayExtenderSpec().BayItnlHghtLst.list">
                                        <tr>
                                            <td><input type="checkbox" class="BayItnlHghtLstCbk" data-bind="value:$data.BayItnlHghtId.value,checked: $data.BayItnlHghtId.value == $root.selectedBayExtenderSpec().BayItnlHghtId.value ? true : false" /></td>
                                            <td><span data-bind="text: $data.BayItnlHght.value"></span></td>
                                            <td><span data-bind="text: $data.BayItnlHghtUom.value"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="BayItnlHghtLstTblDgr" class="alert alert-danger" hidden>
                                    <strong>Please select a Height value!</strong>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-condensed">
                            <tr>
                                <td>
                                    <label>Height: </label>
                                    <input class="form-control" id="hgthnew" data-bind="event:{ keypress: NumDecimal}" />
                                </td>
                                <td><label>UOM:</label> <select id="hegthnewuom" class="form-control" data-bind="options: $data.selectedDepth, optionsText: 'text', optionsValue: 'value'"></select></td>
                                <td style="padding-top: 20px"><button type="submit" class="btn btn-success" id="bayextnhegthadd" data-bind="click: $data.Addheight"> ADD </button></td>
                            </tr>
                        </table>
                        <div id="bayheightnew" class="alert alert-danger" hidden>
                            <strong>Please enter Height value and UOM!</strong>
                        </div>
                        <div id="bayheightexists" class="alert alert-danger" hidden>
                            <strong>Height value and UOM already exists!</strong>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="row" align="center">
                <button type="submit" class="btn btn-success" id="savebayextenderid">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="bayextdModalpopup" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <table style="width:100%">
                <tr>
                    <td><h4><b>Associated Parts:</b></h4></td>
                    <td><span class="close">&times;</span></td>
                </tr>
            </table>
            <h4>Search Input:</h4>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="idcdmmsbayextd" class="control-label">CDMMS ID:</label>
                    <input type="text" class="form-control" id="idcdmmsbayextd">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="materialcodebayextd">Material Code:</label>
                    <input type="text" class="form-control" id="materialcodebayextd">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="partnumberbayextd">Part Number:</label>
                    <input type="text" class="form-control" id="partnumberbayextd">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="clmcbayextd">CLMC:</label>
                    <input type="text" class="form-control" id="clmcbayextd">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="catlogdsptbayextd">Catalog Description:</label>
                    <input type="text" class="form-control" id="catlogdsptbayextd">
                </div>
            </div>
            <div class="row" align="center">
                <div class="Noinput" style="display: none; color:red">Please enter at least one input.</div>
                <button class="btn btn-success" data-bind="click: $data.searchmtlbayextd">SEARCH</button>
                <div class="NoRecordrp" style="display: none; color:red">No records found!</div>
            </div>

            <h4>Search Results:</h4>
            <table id="searchresultbayextd" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>CDMMS ID</th>
                        <th>Material Code</th>
                        <th>CLMC</th>
                        <th>Part Number</th>
                        <th>Catalog/Material Description</th>

                    </tr>
                </thead>
                <tbody data-bind="foreach:searchtblbayextd">
                    <tr>

                        <td><input type="checkbox" class="chkbxsearch" id="idbayextdchk" data-bind="value: $data.material_item_id.value" /></td>
                        <td><span class="idbayes" data-bind="text: $data.material_item_id.value"></span></td>
                        <td><span data-bind="text: $data.product_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_part_no.value"></span></td>
                        <td><span data-bind="text: $data.item_desc.value"></span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Associated Material:</h4>
            <table id="associatedmtl" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>CDMMS ID</th>
                        <th>Material Code</th>
                        <th>CLMC</th>
                        <th>Part Number</th>
                        <th>Catalog/Material Description</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:associatemtlblck">
                    <tr>

                        <td><input type="checkbox" class="checkasstspopsearch" id="idchknbayextd" checked="checked" data-bind="value: $data.material_item_id.value" /></td>
                        <td><span class="idsasspnode" data-bind="text: $data.material_item_id.value"></span></td>
                        <td><span data-bind="text: $data.product_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_part_no.value"></span></td>
                        <td><span data-bind="text: $data.item_desc.value"></span></td>
                    </tr>
                </tbody>
            </table>

            <div class="row" align="center">
                <button type="submit" id="modalButtonSave" class="btn btn-success" data-bind="click: $data.SaveAssociateBayextd, enable: enableModalSave">Ok</button>
                <button type="submit" class="btn btn-success" data-bind="click: $data.CancelAssociateBayextd">Cancel</button>
            </div>
        </div>
    </div>
</div>
