<div class='panel panel-default'>
    <div class="panel-heading">
        <span>Node Specification</span>
        <div class="btnRESTORE_SEARCH btn btn-success" style="display: none; float: right; margin-top: -9px"><i class="fa fa-search"></i></div>
    </div>
    <div>
        <form data-bind="submit: $data.SaveNode" name="savenodename">
            <div class="container">
                <div class="row" align="left" style="padding-bottom:15px;padding-bottom:10px">
                    <button type="button" id="backToMtlButton" class="btn btn-success" data-bind="click: $data.navigateToMaterial, visible: enableBackButton">Back</button>
                </div>
                <div class="panel-body">
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-2">
                            <label>Generic:</label>
                            <input type="checkbox" name="gnrcnodechk" id="gnrcnodechk" data-bind="checked: $data.selectedNodeSpec().Gnrc.bool,event: { change: onchangenodegeneric },enable : $data.selectedNodeSpec().Gnrc.enable" />
                        </div>
                        <div class="col-sm-2">
                            <label>Record Only:</label>
                            <input type="checkbox" id="rcrdonlynode" name="rcrdonlynode" data-bind="checked: $data.selectedNodeSpec().RO.bool,enable : $data.selectedNodeSpec().RO.enable" />
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" id="idAsscociatenode" data-bind="click:$root.associatepartNode.bind($root,$root), visible : enableAssociate">Associate Part</button>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-2">
                            <label>Completed:</label>
                            <input id="completedChkBox" name="cmpIndnmnode" type="checkbox" data-bind="checked: $data.selectedNodeSpec().Cmplt.bool,enable: $data.selectedNodeSpec().Cmplt.enable, event: { change: onchangeCompleted }" />
                        </div>
                        <div class="col-sm-2">
                            <label>Propagated:</label>
                            <input id="proptIndnode" name="proptIndnode" type="checkbox" data-bind="checked: $data.selectedNodeSpec().Prpgtd.bool,enable: $data.selectedNodeSpec().Prpgtd.enable, disable:completedNotSelected" />
                        </div>  <div class="col-sm-2">
                            <label>Unusable in NDS:</label>
                            <input id="delIndnode" type="checkbox" data-bind="checked: $data.selectedNodeSpec().Dltd.bool" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Specification ID:</label><font color="red">*</font>
                            <input class="form-control" id="specidnode" data-bind="textInput: $data.selectedNodeSpec().id.value" required readonly />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Name:</label><font color="red" style="font-size:12px;">*</font>
                            <input type="text" id="nmanode" required class="form-control" maxlength="40" data-bind="textInput: $data.specName, enable: enableName, value: $data.specName" />
                        </div>
                        <div class="col-sm-6">
                            <label>Description:</label>
                            <input type="text" class="form-control" data-bind="textInput: $data.selectedNodeSpec().Desc.value" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-3">
                            <label>Multiplexing Capable:</label>
                            <input type="checkbox" id="mutlplxcpb" data-bind="checked: $data.selectedNodeSpec().MuxCpbl.value =='Y' ? true : false, enable: false" />
                        </div>
                        <div class="col-sm-3">
                            <label>Performance Monitoring Capable:</label>
                            <input type="checkbox" id="prfmnccpbl" data-bind="checked:$data.selectedNodeSpec().PerfMonitrgCpbl.value =='Y' ? true : false, enable: false" />
                        </div>
                        <div class="col-sm-3">
                            <label>ENNI Capable:</label>
                            <input type="checkbox" id="ennicpbl" data-bind="checked: $data.selectedNodeSpec().EnniCpbl.value =='Y' ? true : false, enable: false" />
                        </div>
                        <!--<div class="col-sm-3">
                            <label>ES+ Card Required:</label>
                            <input type="checkbox" id="escrdred" data-bind="checked:$data.selectedNodeSpec().EsPlsCrdReqr.value =='Y' ? true : false" />
                        </div>-->
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Label Position:</label><font color="red" style="font-size:12px;">*</font>
                            <select id="idlbpos" class="form-control" required data-bind="options: $data.selectedNodeSpec().LblPosId.options,optionsText: 'text', optionsValue: 'value',value: $data.selectedNodeSpec().LblPosId.value"></select>
                        </div>
                        <div class="col-sm-6">
                            <label>Label Position Name:</label>
                            <input type="text" class="form-control" maxlength="20" data-bind="textInput: $data.selectedNodeSpec().LblNm.value" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Structure Type:</label>
                            <select id="idstructyp" class="form-control" data-bind="options: $data.structuretype ,optionsText: 'text', optionsValue: 'value',value: $data.selectedNodeSpec().StructType.value, enable: false"></select>
                        </div>
                        <div class="col-sm-6">
                            <label>Format Code:</label><font color="red" style="font-size:12px;">*</font>
                            <input type="text" class="form-control" maxlength="6" required data-bind="textInput: $data.selectedNodeSpec().NdeFrmtCd.value, enable: false" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-3">
                            <label>Node Type:</label><font color="red" style="font-size:12px;">*</font>
                            <select id="idnodetyp" class="form-control" required data-bind="options: $data.selectedNodeSpec().NodeTypId.options ,optionsText: 'text', optionsValue: 'value',value: $data.selectedNodeSpec().NodeTypId.value, enable: false"></select>
                        </div>
                        <div class="col-sm-3">
                            <label>Use Type:</label>
                            <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().NodeUseTypId.value" disabled />
                        </div>


                        <div class="col-sm-6">
                            <label>Format Value Qualifier:</label><font color="red" style="font-size:12px;">*</font>
                            <select id="iffrmtvaluq" class="form-control" required data-bind="options: $data.selectedNodeSpec().NdeFrmtValQlfrId.options ,optionsText: 'text', optionsValue: 'value',value: $data.selectedNodeSpec().NdeFrmtValQlfrId.value, enable: false"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Software Version:</label>
                            <input type="text" class="form-control" data-bind="textInput: $data.selectedNodeSpec().SwVrsn.value" />
                        </div>
                    </div>
                    <div id="nongenericBlock" data-bind="visible: nongenericBlockview">
                        <div class="row" style="padding-bottom:15px">
                            <div class="col-sm-6">
                                <label>Model:</label><font color="red" style="font-size:12px;">*</font>
                                <input type="text" id="modelTxt" class="form-control" maxlength="47" required data-bind="value: $data.selectedNodeSpec().Nm.value" />
                            </div>
                        </div>
                    </div>
                    <div id="gnrchk" data-bind="visible : genricblock">
                        <div class="row" style="padding-bottom:15px">
                            <div class="col-sm-6">
                                <label for="idndptno">Depth:</label><font color="red" style="font-size:12px;">*</font>
                                <input id="idndptno" class="form-control" data-bind="textInput: $data.selectedNodeSpec().Dpth.value, event:{ keypress: NumDecimal}" />

                            </div>
                            <div class="col-sm-6">
                                <label for="idnwdth">Height:</label><font color="red" style="font-size:12px;">*</font>
                                <input type="text" id="idnwdth" class="form-control" data-bind="textInput: $data.selectedNodeSpec().Hght.value, event:{ keypress: NumDecimal}" />
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:15px">
                            <div class="col-sm-6">
                                <label for="idnhetNo">Width:</label><font color="red" style="font-size:12px;">*</font>
                                <input type="text" id="idnhetNo" class="form-control" data-bind="textInput: $data.selectedNodeSpec().Wdth.value, event:{ keypress: NumDecimal}" />
                            </div>

                            <div class="col-sm-6">
                                <label>Unit Of Measurement:</label><font color="red" style="font-size:12px;">*</font>
                                <select id="idndimuom" class="form-control" data-bind="options: $data.selectedNodeSpec().DimUom.options,optionsText: 'text', optionsValue: 'value',value: $data.selectedNodeSpec().DimUom.value"></select>
                            </div>
                        </div>
                    </div>
                    <!-- ko if: $data.selectedNodeSpec().Node !== undefined -->
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-3">
                            <label>Manufacturer:</label>
                            <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].Mfg.value, enable:$data.selectedNodeSpec().Node.list[0].Mfg.enable" />
                        </div>
                        <div class="col-sm-3">
                            <label>Manufacturer Name:</label>
                            <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].MfgNm.value, enable:$data.selectedNodeSpec().Node.list[0].MfgNm.enable" />
                        </div>
                        <div class="col-sm-6">
                            <label>Part Number:</label>
                            <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].PrtNo.value, enable:$data.selectedNodeSpec().Node.list[0].PrtNo.enable" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Material Code:</label>
                            <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].PrdctId.value, enable:$data.selectedNodeSpec().Node.list[0].PrdctId.enable" />
                        </div>
                        <!--<div class="col-sm-6">
                            <label>Material Description:</label>
                            <input type="text" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].CtlgDesc.value" />
                        </div>-->
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Depth:</label><font color="red" style="font-size:12px;">*</font>
                            <input type="text" id="txtDpth" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].Dpth.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Height:</label><font color="red" style="font-size:12px;">*</font>
                            <input type="text" id="txtHght" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].Hght.value, event:{ keypress: NumDecimal}" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Width:</label><font color="red" style="font-size:12px;">*</font>
                            <input type="text" id="txtWdth" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].Wdth.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Dimensions Unit of Measurement:</label>
                            <select id="idNodeDimUom" class="form-control" data-bind="options: $data.selectedNodeSpec().Node.list[0].DimUom.options, optionsText: 'text', optionsValue: 'value', value: $data.selectedNodeSpec().Node.list[0].DimUom.value"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Normal Current Drain:</label>
                            <input type="text" id="txtNrmlDrn" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].ElcCurrDrnNrm.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Unit of Measurement:</label>
                            <select id="idNrmlDrnUom" class="form-control" data-bind="options: $data.selectedNodeSpec().Node.list[0].ElcCurrDrnNrmUom.options, optionsText: 'text', optionsValue: 'value', value: $data.selectedNodeSpec().Node.list[0].ElcCurrDrnNrmUom.value"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Peak Current Drain:</label>
                            <input type="text" id="txtPkDrn" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].ElcCurrDrnMx.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Unit of Measurement:</label>
                            <select id="idPkDrnUom" class="form-control" data-bind="options: $data.selectedNodeSpec().Node.list[0].ElcCurrDrnMxUom.options, optionsText: 'text', optionsValue: 'value', value: $data.selectedNodeSpec().Node.list[0].ElcCurrDrnMxUom.value"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Power:</label>
                            <input type="text" id="txtPwr" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].HtDssptn.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Unit of Measurement:</label>
                            <select id="idPwrUom" class="form-control" data-bind="options: $data.selectedNodeSpec().Node.list[0].HtDssptnUom.options, optionsText: 'text', optionsValue: 'value', value: $data.selectedNodeSpec().Node.list[0].HtDssptnUom.value"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Planned Heat Generation:</label>
                            <input type="text" id="txtHtGntn" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].HtGntn.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Unit of Measurement:</label>
                            <select id="idHtGntnUom" class="form-control" data-bind="options: $data.selectedNodeSpec().Node.list[0].HtGntnUom.options, optionsText: 'text', optionsValue: 'value', value: $data.selectedNodeSpec().Node.list[0].HtGntnUom.value"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-6">
                            <label>Node Weight:</label>
                            <input type="text" id="txtWt" class="form-control" maxlength="47" data-bind="value: $data.selectedNodeSpec().Node.list[0].Wght.value, event:{ keypress: NumDecimal}" />
                        </div>
                        <div class="col-sm-6">
                            <label>Unit of Measurement:</label>
                            <select id="idWtUom" class="form-control" data-bind="options: $data.selectedNodeSpec().Node.list[0].WghtUom.options, optionsText: 'text', optionsValue: 'value', value: $data.selectedNodeSpec().Node.list[0].WghtUom.value"></select>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-3">
                            <label>Has Shelves:</label>
                            <input id="hasshel" type="checkbox" data-bind="checked: $data.selectedNodeSpec().Shlvs.bool, enable: false" />
                        </div>
                        <div class="col-sm-3">
                            <label>Has Ports:</label>
                            <input id="hasprtnd" name="hasprtnode" type="checkbox" data-bind="checked: $data.selectedNodeSpec().Prts.bool, enable: false" />
                        </div>
                        <div class="col-sm-3">
                            <label>Mid Plane:</label>
                            <input id="midplnnod" type="checkbox" data-bind="checked: $data.selectedNodeSpec().MidPln.value =='Y' ? true : false" />
                        </div>
                        <div class="col-sm-3">
                            <label>Straight Through:</label>
                            <input id="strgtInd" type="checkbox" data-bind="checked: $data.selectedNodeSpec().StrghtThru.value =='Y' ? true : false" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-3">
                            <label>Wall Mount:</label>
                            <input id="wllmtInd" type="checkbox" data-bind="checked: $data.selectedNodeSpec().WllMnt.value =='Y' ? true : false" />
                        </div>
                        <div class="col-sm-3">
                            <label>QoS Capable:</label>
                            <input id="qoscpbl" type="checkbox" data-bind="checked: $data.selectedNodeSpec().QoSCpbl.value =='Y' ? true : false" />
                        </div>

                        <div class="col-sm-3">
                            <label>Include Format Code:</label>
                            <input id="nodefrmt" type="checkbox" data-bind="checked: $data.selectedNodeSpec().NdeFrmtNcludInd.value =='Y' ? true : false" />
                        </div>
                        <div class="col-sm-3">
                            <label>New Service Allowed:</label>
                            <input type="checkbox" id="nvsrallow" data-bind="checked: $data.selectedNodeSpec().NwSrvcAllw.value =='Y' ? true : false, enable: false" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <button type="submit" class="btn btn-success" id="savenodeid">Save</button>
                <button type="button" class="btn btn-success" id="buttonclick" data-bind="click: exportNodeSpecReport">
                    <span class="fa fa-external-link" />
                    <span>Export Report</span>
                </button>
            </div>
        </form>
    </div>
</div>
<div id="nodeModalpopup" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <table style="width:100%">
                <tr>
                    <td><h4><b>Associated Part:</b></h4></td>
                    <td><span class="close">&times;</span></td>
                </tr>
            </table>
            <h4>Search Input:</h4>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="idcdmmsnode" class="control-label">CDMMS ID:</label>
                    <input type="text" class="form-control" id="idcdmmsnode">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="materialcodenode">Material Code:</label>
                    <input type="text" class="form-control" id="materialcodenode">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="partnumbernode">Part Number:</label>
                    <input type="text" class="form-control" id="partnumbernode">
                </div>
                <div class="col-sm-6 form-group">
                    <label for="clmcnode">CLMC:</label>
                    <input type="text" class="form-control" id="clmcnode">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="catlogdsptnode">Catalog Description:</label>
                    <input type="text" class="form-control" id="catlogdsptnode" />
                </div>
            </div>
            <div class="row" align="center">
                <div class="Noinput" style="display: none; color:red">Please Enter An Input!</div>
                <button class="btn btn-success" data-bind="click: $data.searchmtlnode">SEARCH</button>
                <div class="NoRecordrp" style="display: none; color:red">No records found!</div>

            </div>

            <h4>Search Results:</h4>
            <table id="searchresultnode" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>CDMMS ID</th>
                        <th>Material Code</th>
                        <th>CLMC</th>
                        <th>Part Number</th>
                        <th>Catalog/Material Description</th>

                    </tr>
                </thead>
                <tbody data-bind="foreach:searchtblnode">
                    <tr>

                        <td><input type="checkbox" class="checknodepopsearch" id="idchknode" data-bind="value: $data.material_item_id.value" /></td>
                        <td><span class="idsnode" data-bind="text: $data.material_item_id.value"></span></td>
                        <td><span data-bind="text: $data.product_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_part_no.value"></span></td>
                        <td><span data-bind="text: $data.item_desc.value"></span></td>
                    </tr>
                </tbody>
            </table>
            <h4>Associated Material:</h4>
            <table id="associatedmtl" style="width:100%" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>CDMMS ID</th>
                        <th>Material Code</th>
                        <th>CLMC</th>
                        <th>Part Number</th>
                        <th>Catalog/Material Description</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:associatemtlblck">
                    <tr>

                        <td><input type="checkbox" class="checkasstspopsearch" id="idchknodedis" checked="checked" data-bind="value: $data.material_item_id.value" /></td>
                        <td><span class="idsasspnode" data-bind="text: $data.material_item_id.value"></span></td>
                        <td><span data-bind="text: $data.product_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_id.value"></span></td>
                        <td><span data-bind="text: $data.mfg_part_no.value"></span></td>
                        <td><span data-bind="text: $data.item_desc.value"></span></td>
                    </tr>
                </tbody>
            </table>

            <div class="row" align="center">
                <button type="submit" id="modalButtonSave" class="btn btn-success" data-bind="click: $data.SaveassociateNode, enable: enableModalSave">OK</button>
                <button type="submit" class="btn btn-success" data-bind="click: $data.CancelassociateNode">Cancel</button>
            </div>
        </div>
    </div>
</div>

